:root {
  --ruby-red: #ba3b46;
}

body {
  margin: 0;
  text-align: center;
  color: white;
}

#background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
  filter: blur(5px);
}

header {
  background-color: var(--ruby-red);
  height: 120px;
  display: flex;
}

header>img {
  height: 200px;
  padding-top: 10px;
  padding-left: 20px;
  z-index: 999;
}

header>ul {
  list-style: none;
  color: white;
  font-size: 3rem;
  flex-grow: 1;
  gap: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

header>ul>li {
  height: 100%;
  display: flex;
  align-items: center;
}

header>ul>li:hover{
  cursor: pointer;
  background-color: white;
  color: var(--ruby-red);
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 90px auto auto;
  padding: 1em;
  width: 70%;
  min-width: 300px;
  border-radius: 10px;
}